<html>
 <head>
 <title>LinkedIn</title>
 </head>
 <body>
 <h3>Connect to LinkedIn</h3>
 
 <form action="/connect/linkedin" method="POST">
 <input type="hidden" name="scope" value="r_basicprofile,r_emailaddress" /> <!-- ,rw_company_admin,w_share -->
 <div class="formInfo">
 <p>You aren't connected to LinkedIn yet. Click the button to connect this application with your  account.</p>
 </div>
<!--  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> --> <!-- csrf.token is Needed only if using spring security -->
 <p><button type="submit">Connect to LinkedIn</button></p>
 </form>
 </body>
</html>